<form method="GET" action="/parties">
	<p>Search</p>
	<input name="name" type="text" placeholder="search">
	<input type="submit">
</form>

<a href="/parties/new">Create new party</a>
<p><a href="/parties?sort=desc">Descending</a></p>
 <p><a href="/parties?sort=asc">Ascending</a></p>
