<div class="list-parties">
	<h1>List all Parties</h1>

	<ul>
	<% @parties.each do |party| %>
		<li><a href="/<%=party.id%>"><%= party.name %></a></li>
		<a href="/remove/<%= party.id %>"><button>Remove</button></a>
	<% end %>
	</ul>
</div>