<div class="list-parties">
	<h1>List all Parties</h1>

	<ul>
	<% @parties.each do |party| %>
		<li><a href="/<%=party.id%>"><%= party.name %></a></li>
		<a href="/parties/<%= party.id %>/remove"><button>Remove</button></a>
	<% end %>
	</ul>
</div>

<a href="/parties/new">Create new party</a>