<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3">
                <div class="create-party">
                    <form method="post" action="/parties/create">
                        <h3>New Party</h3>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Insert party name">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address" id="address" placeholder="Type party address">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                        <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude coordinates">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="latitude">Latitude</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                        <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude coordinates">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time">Time</label>
                            <input type="datetime-local" class="form-control" name="time" id="time">
                        </div>
                        <button type="submit" class="btn btn-primary submit-button">Create Party</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
