<form action="/parties/create/<%= @party_id %>/attendee" method="post">
   <input type="text" name="name" placeholder="Insert your name here">
   <input type="email" name="email" placeholder="Insert your email here">
   <button type="submit">Add new attendee</button>
 </form> 